@model TeamTaskboard.Models.User

<header class="row">
    <div class="jumbotron">
        <h1>Team @Model.Team.Name</h1>
        @TeamInfoHelpers.TeamDescription(Model.Team.Description)
    </div>
</header>

<section class="row">
    <article class="col-md-12">
        <div class="panel panel-default">
            <h1 class="panel-heading text-center">Members</h1>
            @TeamInfoHelpers.MembersPanelBody(Model.Team.Members)
            <footer class="panel-footer"></footer>
        </div>
    </article>
</section>
<section class="row">
    <article class="col-md-6">
        <div class="panel panel-default">
            <h1 class="panel-heading text-center">Tasks</h1>
            @TeamInfoHelpers.TasksPanelBody(Model.Team.Tasks)
            <footer class="panel-footer">
                @Html.ActionLink("Create new task", "CreateTask", "Tasks", null, new { @class = "btn btn-default" })
            </footer>
        </div>
    </article>
    <article class="col-md-6">
        <div class="panel panel-default">
            <h1 class="panel-heading text-center">Statuses</h1>
            @TeamInfoHelpers.StatusesPanelBody(Model.Team.Statuses)
            <footer class="panel-footer">
                @Html.ActionLink("Create new status", "CreateStatus", "Statuses", null, new { @class = "btn btn-default" })
            </footer>
        </div>
    </article>
</section>