@model TeamTaskboard.Web.ViewModels.Task.ExtendedTaskViewModel

@{
    ViewBag.Title = "Task Details";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="row" id="taks-info">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reporter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reporter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Processor)
        </dd>
    </dl>

   <p>
       @if (Model.Processor == null)
       {
           @Html.ActionLink("Assign to me", "Assign", "Tasks", new { id = Model.TaskId }, new { @class = "btn btn-default" })
       }
       
       @if (Model.Processor == User.Identity.Name)
       {
           @Ajax.ActionLink("Change status", "ChangeStatus", "Tasks", new { id = Model.TaskId },
                new AjaxOptions
                {
                    UpdateTargetId = "taks-info",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "btn btn-default" })
       }

       @Ajax.ActionLink("Add comment", "Create", "Comments", new { taskId = Model.TaskId },
                new AjaxOptions
                {
                    UpdateTargetId = "create-taks-comment",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "btn btn-default" })
   </p>
</div>

<div class="row" id="show-taks-comment">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment);
    }
</div>

<div class="row" id="create-taks-comment"></div>

<p>
    @Html.ActionLink("Back to team info", "Index", "Team")
</p>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
        function onCommentCreated() {
            $('#create-taks-comment').empty();
        }
    </script>
}
