@using TeamTaskboard.App.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Profile";
}

<h2>@User.Identity.GetUserName() @ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.HasLocalPassword)
        {
            <p>
                @Ajax.ActionLink("Change password", "ChangePassword", "Profile", null,
                new AjaxOptions
                {
                    UpdateTargetId = "profile-update",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "btn btn-primary" })
            </p>
        }
        else
        {
            <p>
                @Ajax.ActionLink("Set password", "SetPassword", "Profile", null,
                new AjaxOptions
                {
                    UpdateTargetId = "profile-update",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "btn btn-primary" })
            </p>
        }

        <p>
            @Ajax.ActionLink("Create new team", "CreateTeam", "Profile", null,
            new AjaxOptions
            {
                UpdateTargetId = "profile-update",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "btn btn-primary" })
        </p>

        <p>
            @Ajax.ActionLink("Join a team", "JoinTeam", "Profile", null,
            new AjaxOptions
            {
                UpdateTargetId = "profile-update",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-8" id="profile-update">

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
