@model IEnumerable<TeamTaskboard.Web.ViewModels.Project.ProjectViewModel>

@{
    ViewBag.Title = "Projects for team " + ViewBag.Teamname;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Project", "Create", null, new { @class="btn btn-default" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Tasks for project</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>@item.Tasks.Count</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
        </td>
    </tr>
}

</table>
