<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team Taskboard Administration</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/kendoui")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/mycss")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav>
        <ul class="kendo-menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Manage Teams", "Index", "Teams")</li>
            <li>@Html.ActionLink("Manage Projects", "Index", "Projects")</li>
            <li>@Html.ActionLink("Manage Tasks", "Index", "Tasks")</li>
            @Html.Partial("_LogoutPartial")
        </ul>
    </nav>

    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendoui")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('.kendo-menu').kendoMenu();
    </script>
</body>
</html>