@using TeamTaskboard.Models

@helper TeamDescription(string description)
{
    <p class="lead">
        @if (string.IsNullOrEmpty(description))
        {
            @:No description provided.
        }
        else
        {
            @description
        }
    </p>
}

@helper MembersPanelBody(IEnumerable<User> members)
{
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Reported Tasks</th>
                    <th>Processed Tasks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in members)
                {

                    <tr>
                        <td>@member.UserName</td>
                        <td>@member.Email</td>
                        <td>@member.ReportertedTasks.Count()</td>
                        <td>@member.ProcessedTasks.Count()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@helper TasksPanelBody(IEnumerable<TeamTask> tasks)
{
    <div class="panel-body">
        @if (tasks.Count() > 0)
        {
            foreach (var task in tasks)
            {
                <p>
                    @task.Name
                </p>
            }
        }
        else
        {
            <p>Currently there are no tasks.</p>
        }
    </div>
}

@helper StatusesPanelBody(IEnumerable<Status> statuses)
{
    <div class="panel-body">
        @if (statuses.Count() > 0)
        {
            foreach (var status in statuses)
            {
                <p>
                    @status.Name
                </p>
            }
        }
        else
        {
            <p>Currently there are no statuses.</p>
        }
    </div>
}